{% extends 'news/base1.html' %}

{% block title %}Speed News{% endblock %}
{% block content %}
      <body>
      {% if request.user.is_authenticated %}
      <p class="logout-msg">Welcome ,{{request.user}}. <a href="{% url 'logout' %}"><i class="icon-signout icon-1x"></i>Logout here</a></p>
      <button type='button' class='new-post-button'><a href="{% url 'create' %}">Create New  <i class="icon-edit icon-1x will"></i></a></button>
      {% else %}
      {% endif %}
            <div class="showcase">
                  {% for item in post %}
                  <div class="showcase-item">
                        <div class="item1">
                              <img class="post-pic img-responsive" src="
                              {% if item.post_image %}
                              {{item.post_image.url}}
                               {% endif %}">
                        </div>
                        <div class="item2">
                            <hr>
                            <a href="{{item.get_absolute_url}}" class="story-heading">{{item.title}}</a>
                            {% autoescape on%}
                            {{ item.body|truncatewords:10|linebreaks }}
                            {% endautoescape %}
                              <div class="date">
                                    <p>Date Published  : <i class="icon-calendar icon-1x"></i> <span class="itemis">{{ item.date_published }}</span></p>
                                    <p>Published by  : <i class="icon-user icon-1x"></i> <span class="itemis">{{ item.author }}</span></p>
                              </div>
                            <div class="tags-main">
                                  <p>Tags : <i class="icon-tag icon-1x"></i> <span class="itemis">{{item.category}}</span></p>         
                            </div>
                            <span><a href="{{item.get_absolute_url}}">
                                  <button type="button" class="rm-button">Read more <i class="icon-mail-forward icon-1x will"></i>
                            </button></a></span>
                        </div>
                  </div>
                  {% endfor %}
            
                  <div class="pagination">
                        <span class="step_list">
                            {% if post.has_previous %}
                            <a class="action-b" href="?page=1">&laquo;</a>
                            <a class="action-b" href="?page={{ post.previous_page_number }}"><</a>
                            {% endif %}
                            {% for num in post.paginator.page_range %}
                            {% if post.number == num %}
                            <span class="paginator-current pagination-number">{{num}}</span>
                            {% elif num > post.number|add:'-3' and num < post.number|add:'3' %}
                            <a class="pagination-number" href="?page={{num}}">{{num}}</a>
                            {% endif%}
                            {% endfor %}
                            {% if post.has_next %}
                            <a class="action-b" href="?page={{ post.next_page_number }}">></a>
                            <a class="action-b" href="?page={{ post.paginator.num_pages}}">&raquo;</a>
                            {% endif %}
                        </span>
                    </div>
            </div>
            
      </body>
{% endblock %}
