article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.login-button{
    padding: 15px 100px 15px 100px;
    background-color: rgb(0, 49, 0);
    border: 0px;
    line-height: 7px;
}
.form-group{
      display: flex;
      justify-content: center;
      height: 100vh;
      margin-top: 20vh;
}
a{
    text-decoration: none;
}
hr{
      color: #282864;
}
body{
    padding : 0px 0px;
}
form, label{
      color: black;
      align-items: center;
      text-align: center;
      font-size: 20px;
}
input{
      border-radius: 3px;
      height: 25px;
      width: 250px;
}


nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(0, 49, 0);
  height: 38px;
  margin: 0;
}

.logo {
  color: whitesmoke;
  font-weight : bold;
  font-size: 23px;
  margin-left: 38px;
}
.logo-image{
  width: 38px;
  height: 38px;
  background: rgba(0,0,0,0);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 60vw;
}

.nav__links li {
  list-style: none;
}

.nav__links li a {
  list-style: none;
  text-decoration: none;
  color: whitesmoke;
}

.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: none;
}

.hamburger .hamburger__item1 {
  height: 4px;
  width: 23px;
  background-color: white;
  margin-bottom: 3px;
  border-bottom-right-radius: 10px;
}

.hamburger .hamburger__item2 {
  height: 4px;
  width: 18px;
  background-color: whitesmoke;
  margin-bottom: 3px;
  border-bottom-right-radius: 10px;
}

.hamburger .hamburger__item3 {
  height: 4px;
  width: 13px;
  background-color: whitesmoke;
  margin-bottom: 3px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 768px) {
  .nav__links {
    margin-left: 40vw;
    width: 50%;
  }
}

@media screen and (max-width: 452px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0em;
  }
  .nav__links {
    -webkit-transform: translateY(-64vh);
            transform: translateY(-64vh);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 300px;
    background-color: rgb(0, 49, 0);
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0px;
    -webkit-transition: -webkit-transform 0s ease-in;
    transition: -webkit-transform 0s ease-in;
    transition: transform 0s ease-in;
    transition: transform 0s ease-in, -webkit-transform 0s ease-in;
  }
  .nav__links li {
    margin-bottom: 70px;
  }
  .nav__links li a {
    color: white;
  }
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10vw;
    cursor: pointer;
  }

  .logo {
    margin-right: 50vw;
    margin-top: 10px;
  }
  .dic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0em;
    padding-bottom: 0em;
    line-height: 4vh;
  }
  .nav-active {
    -webkit-transform: translateY(38px);
            transform: translateY(38px);
    position: absolute;
    z-index: 1;
  }
  .toggle .hamburger__item1 {
    -webkit-transform: rotate(-30deg) translate(-5px, 1px);
            transform: rotate(-30deg) translate(-5px, 1px);
    width: 15px;
    border-bottom-right-radius: 0px;
  }
  .toggle .hamburger__item2 {
    -webkit-transform: rotate(90deg) translateY(-1px);
            transform: rotate(90deg) translateY(-1px);
            border-bottom-right-radius: 0px;
  }
  .toggle .hamburger__item3 {
    -webkit-transform: rotate(30deg) translate(2.5px, -14px);
            transform: rotate(30deg) translate(2.5px, -14px);
    width: 15px;
    border-bottom-right-radius: 0px;
  }
}
@media screen and (max-width: 367px) {
  .logo {
    margin-right: 35vw;
  }
}

@media screen and (max-width: 282px) {
  .logo {
    margin-right: 30vw;
  }
}
